@tailwind base;
@tailwind components;
@tailwind utilities;

.opened-popup {
    opacity: 1;
    pointer-events: all;
}

.simple-input {
    @apply border-gray-300 border-b-2 p-1 hover:border-gray-500 transition-all w-full bg-white;
}

.simple-input.is-invalid {
    @apply border-red-300 hover:border-red-500;
}

.std-btn {
    @apply block rounded-md bg-blue-500 text-white text-lg p-2 hover:bg-blue-700 transition-all h-fit;
}

.tab, .tab-inside {
    @apply h-0 overflow-hidden;
}

.tab.active, .tab-inside.active {
    @apply h-auto;
}

.user-table-names {
    transform: translate(-56px, -85px) rotate(50deg);
    max-width: 20px;
}

.user-type-student .admin-only,
.user-type-teacher .admin-only {
    display: none;
}

.user-type-admin .teacher-only,
.user-type-student .teacher-only {
    display: none;
}

.user-type-admin .student-only,
.user-type-teacher .student-only {
    display: none;
}
